*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
::-webkit-scrollbar{
        display: none;
}
.container1{
  width:100vw;
  height: 100vh;
  background: url(drone2.jpg) center no-repeat;
  background-size: cover;
  position: relative;
}
.wel-come{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-45%);
  font-size: 55px;
  width: 100vw;
  text-align: center;
  font-weight: 600;
  color: #fff;
}
.dig{
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%,-64%);
  color: #fff;
  font-size: 55px;
}
.dig-x{
  font-size: 70px;
}
.navbar{
  width: 100vw;
  background: linear-gradient(280deg,rgba(55,25,215,.5),rgba(120,20,220,.5),rgba(0,0,0,.7));
}
.navbar-toggler{
  background: #0ce4f7;
  outline: none !important;
}
.digibrand{
  font-size: 30px;
  color: #fff !important;
}
.brandx{
  font-size: 40px;
  color: #fff;
  font-weight: 700;
}
.nav-link{
  padding-left: 5px; 
  color: #fff !important;
  font-weight: 600;
  transition: transform .4s;
}
.nav-link:hover{
  color: #0ce4f7 !important;
  transform: scale(1.1);
}
.container2{
  width: 100vw;
  height: 100%;
  background: linear-gradient(45deg,rgba(0,0,0,.3),rgba(0,0,0,.3)),url(bridge.jpg) center no-repeat;
  background-size: cover;
  position: relative;
}
.abtus{
  position: absolute;
  font-size: 50px;
  font-weight: 700;
  width: 100vw;
  text-align: center;
  color: #fff;
}
.holder{
  width: 80vw;
  height: 90vh;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%,-95%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 180px 180px ;
  grid-gap: 30px;
  text-align: center;
}
.box{
  color: #00FF6C;
}
.container3{
  width: 100vw;
  height: 100vh;
  background: url(11.jpg) center no-repeat;
  background-size: cover;
  position: relative;
}
.gall {
  position: absolute;
  left: 50%;
  transform: translate(-50%,0%);
  font-size: 50px;
  font-weight: 700;
  color: #fff;
}
.gal-box-coll{
  width: 100vw;
  height: 100vh;
  position: absolute;
}
.gal-box1{
  width: 100vw;
  height: 140px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 12%;
  transform: translate(0%,-12%);
}
.gal-box2{
  width: 100vw;
  height: 140px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 40%;
  transform: translate(0%,-40%);
}
.gal-box3{
  width: 100vw;
  height: 140px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 68%;
  transform: translate(0%,-68%);
}
.gal-box4{
  width: 100vw;
  height: 140px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 96%;
  transform: translate(0%,-96%);
}
.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8{
  width: 150px;
  height: 140px;
  margin-left: 20px;
  background: url(fbulb.jpg) center no-repeat;
  background-size: cover;
  box-shadow: 5px 5px 15px black;
}
.imgg{
  position: relative;
  top: 75%;
  width: 100%;
  text-align: center;
  color: #00FF2E;
  text-shadow: 1px 1px 10px #000,
               1px 1px 10px #000;
}
.container4{
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url(13.jpg) center no-repeat;
  background-size: cover;
}
.oteam {
  position: absolute; 
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  width: 100vw;
  text-align: center;
}
.champ{
  text-align: center;
  position: absolute;
  top: 9%;
  transform: translate(0%,-9%);
  font-size: 25px; 
  width: 100vw;
  text-align: center;
  color: #fff;
}
.img-fluid{
  width: 100px;
  height: 100px;
  background-size: cover;
}
#mycarousel{
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%,20%);
}
.container5{
  width: 100vw;
  height: 100vh;
  position: relative;
} 
.slideshow-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: url(arm.jpg) center no-repeat;
  background-size: cover;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Caption text */
.text {
  color: chartreuse;
  font-size: 45px;
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.cimg {
  height: 100vh;
  width: 100vw;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: .8;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: .8;
  }
  to {
    opacity: 1;
  }
}

.container6{
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url(12.jpg) center no-repeat;
  background-size: cover;
}
.cont{
  position: absolute;
  font-size: 50px;
  font-weight: 700;
  width: 100vw;
  text-align: center;
}
.creater,.call,.mail{
  font-size: 28px;
  font-weight: 600;
}
.contbox{
  width: 100vw;
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-35%);
}
.follow-me{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-70%);
  width: 100vw;
  text-align: center;
}
.follow{
  color:#fff;
}
.follow-me i{
  padding: 5%;
  transition: transform .4s;
}
.follow-me i:hover{
  transform: translateY(-5px);
}
.app{
  width: 100vw;
  padding: 20px 0 0 0;
  text-align: center;
}

@media(max-width: 550px){
  .container1{
  background: url(arm.jpg) center no-repeat;
  background-size: cover;
}
.container2{
  background: linear-gradient(45deg,rgba(0,0,0,.3),rgba(0,0,0,.3)) ,url(drone.jpg) center  no-repeat;
  background-size: cover;
}
.holder{
  width: 100vw;
  height: 90vh;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%,-95%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 190px 190px ;
  grid-gap: 30px;
  text-align: center;
  font-size: 18px;
}
.container3{
  background: url(13.jpg) center  no-repeat;
  background-size: cover;
}
.container4{
  background: linear-gradient(45deg,rgba(0,0,0,.3),rgba(0,0,0,.3)) , url(rbo.jpg) center  no-repeat;
  background-size: cover;
}
.container6{
  background: linear-gradient(45deg,rgba(0,0,0,.4),rgba(0,0,0,.3)) , url(12.jpg) center  no-repeat;
  background-size: cover;
  color: #fff;
}
.gal-box1,.gal-box2,.gal-box3,.gal-box4{
  justify-content: center !important;
  width: 100vw;
}
.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8{
  width: 170px;
}
.abtus{
  color: #fff;
}
.gall{
  color: #fff;
}
.nav-link{
    text-align: center;
    font-size: 30px;
}
  
}
