.carousel-item{
  height: 100vh;
  min-height: 300px;
}
.carousel-item img{
  width: 100vw;
  height: 100vh;
}
.carousel-caption{
  bottom: 20%;
}
.carousel-caption h5{
  color: black;
  font-size: 20px;
}
.carousel-caption p{
  color: black;
}
.navbar-light .navbar-brand{
   color: aqua;
   font-weight: 700;
   text-shadow: 3px 2px 8px black;
}
.nav-item .nav-link{
  color: black !important;
  font-weight: 600;
}
.nav-item .nav-link:hover{
  color: aqua !important;
  text-shadow: 3px 3px 8px black;
}
